# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tuple1=tuple(range(11))
print(tuple1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(tuple1[0])
print(tuple1[len(tuple1)//2])
print(tuple1[-1])

0
5
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [6]:
print(tuple1[:3])
print(tuple1[-3:])
print(tuple1[2:6])

(0, 1, 2)
(8, 9, 10)
(2, 3, 4, 5)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:
tuplenest=((1,2,3),
(4,5,6),
(7,8,9))
print(tuplenest)
print(tuplenest[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [11]:
tup1=(1,2,3)
tup2=(4,5,6)
restup=tup1+tup2
print(restup)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [13]:
tuple2=(1,2,31,32,1,1,32)
print(tuple2.count(1))
print(tuple2.index(1))

3
0


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [23]:
tup3=(1,2,3,4,5)
a,b,c,d,e=tup3
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [24]:
list1=[1,2,3,4,5]
tupl4=tuple(list1)
print(tupl4)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [25]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))



### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [28]:
chartup=('H','e','l','l','o')
joinstring= ''.join(chartup)
print(joinstring)

Hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [29]:
tup_dict={(1,2,3):1,(4,5,6):2,(7,8,9):3}
print(tup_dict)

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
nested_tup=((1,2,3),(3,4,5),(6,7,8))
for i in nested_tup:
    for j in i:
        print(j)

1
2
3
3
4
5
6
7
8


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [31]:
tup_dup=(1,1,2,2,3,4,3,4)
tup_set=set(tup_dup)
print(tup_set)

{1, 2, 3, 4}